<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="">LHCb Masterclass</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active">
        <a routerLink="about">About</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="about">Language</a>
      </li>
    </ul>
  </div>
</nav>


<!--<ul class="nav navbar-nav">
      <li>
        <a routerLink=""><img alt="Home" src="assets/img/lhcb_logo.png" title="Home" class="ng-star-inserted" width="60" height="40"></a>
      </li>
    </ul>
-->
