canvas {
  width: 100%;
  height: 100%;
  float: right;
  position: static;
}

.event-control {
	width: 11%;
  height: 100%;
  float: left; 
  padding-right: 8px;	
}

.event-display {
	width: 58%;
  height: 100%;
  float: left;
  border: 1px groove #ddd;
  box-shadow:  0px 0px 0px 0px #000;
  margin-top: 16px;
}

.right_panel {
  width: 31%;
  height: 100%;
  float: right;
  padding-left: 8px;
}

#my_particle {
  width: 100%;
  height: 100%;
  float: left;
  margin: 2px;
}

#mass {
  width: 100%;
  height: 100%;
  float: left;
  margin: 2px;
  margin-bottom: 2px!important;
  padding-left: 10px;
}

#particle_info {
  width: 100%;
  height: 100%;
  float: left;
  margin: 2px;
  padding-bottom: 1.2em!important;
}

.histo {
  width: 100%;
  height: 100%;
}

fieldset.event-handler {
  border: 1px groove #ddd;
  margin-bottom: 5px;
  padding: 0 0.8em 0.8em 0.8em;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
  box-shadow:  0px 0px 0px 0px #000;
}

legend.event-handler {
  font-size: 1em;
  width:auto;
  border: none;
  margin: 2px;
  padding: 5px;
}

.col1 {
  width: 30%;
  float: left;
}

.col2 {
  width: 30%;
  float: left;
}

.col3 {
  width: 30%;
  float: right;
}

.button-save {
  float: bottom;
}

.legend {
  margin-bottom: 1px;
}

.button {
  width: 100%;
}

.subCol1 {
  width: 58%;
}

.subCol2 {
  width: 40%;
  float: right;
  margin-bottom: 40px;
}