<img *ngIf="addlogo" class="center" src="./assets/img/lhcb_logo.png">
<h4>{{modalTitle}}</h4>
<div style="white-space: pre-line;">{{modalText}}</div>
<p>
	<button mat-button style="float: right;" (click)="onNoClick()">Close</button>
</p>
