.home{
	align-content: center;
	padding-top: 2%;
}

.auth
{
	text-align: left;
	width: 100%;
	height: 100%;
}

.exercise-list
{
	text-align: center;
	width: 100%;
	height: 100%;
}

.is-active {
    cursor: default;
}

.gray {
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
}

.color {
  opacity: 1;
  filter: none;
}

.container {
  padding-bottom: 2%;
  width: 500px;
  clear: both;
  margin-bottom: 30px;
}

.container input, select, mat-card {
  width: 100%;
  clear: both;
}

