<div class=home>
	<div class="container">
			<form [formGroup]="authForm" (ngSubmit)="onSubmit()">
				<mat-form-field style="width: 100%">
					<input matInput [formControl]="authForm.controls.firstname" placeholder="Firstname">
				</mat-form-field>
				<br>
				<mat-form-field style="width: 100%">
					<input matInput [formControl]="authForm.controls.surname" placeholder="Surname">
				</mat-form-field>
				<br>
				<mat-form-field style="width: 100%">
					<input matInput [formControl]="authForm.controls.grade" placeholder="Grade">
				</mat-form-field>
				<br>
				<mat-form-field style="width: 100%">
				    <mat-label>Combination</mat-label>
				    <mat-select [formControl]="authForm.controls.combination">
				        <mat-option value="1"> Combination 1 </mat-option>
				        <mat-option value="2"> Combination 2 </mat-option>
				        <mat-option value="3"> Combination 3 </mat-option>
				        <mat-option value="4"> Combination 4 </mat-option>
				        <mat-option value="5"> Combination 5 </mat-option>
				        <mat-option value="6"> Combination 6 </mat-option>
				        <mat-option value="7"> Combination 7 </mat-option>
				        <mat-option value="8"> Combination 8 </mat-option>
				        <mat-option value="9"> Combination 9 </mat-option>
				        <mat-option value="10">Combination 10</mat-option>
				        <mat-option value="11">Combination 11</mat-option>
				        <mat-option value="12">Combination 12</mat-option>
				        <mat-option value="13">Combination 13</mat-option>
				        <mat-option value="14">Combination 14</mat-option>
				        <mat-option value="15">Combination 15</mat-option>
				        <mat-option value="16">Combination 16</mat-option>
				        <mat-option value="17">Combination 17</mat-option>
				        <mat-option value="18">Combination 18</mat-option>
				        <mat-option value="19">Combination 19</mat-option>
				        <mat-option value="20">Combination 20</mat-option>
				        <mat-option value="21">Combination 21</mat-option>
				        <mat-option value="22">Combination 22</mat-option>
				        <mat-option value="23">Combination 23</mat-option>
				        <mat-option value="24">Combination 24</mat-option>
				        <mat-option value="25">Combination 25</mat-option>
				        <mat-option value="26">Combination 26</mat-option>
				        <mat-option value="27">Combination 27</mat-option>
				        <mat-option value="28">Combination 28</mat-option>
				        <mat-option value="29">Combination 29</mat-option>
				        <mat-option value="30">Combination 30</mat-option>
				        <mat-option value="31">Combination 31</mat-option>
				        <mat-option value="32">Combination 32</mat-option>
				    </mat-select>
				</mat-form-field>
		    <button type="submit" class="btn btn-light" style="float: right;" [disabled]="!authForm.valid">Save</button>
		</form>
	</div>

	<!-- icon exercises -->
	<div class="container">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="text-align: center">
			<mat-card>
				<a routerLink="event-display">
					<input type="image" class='gray' src="assets/ex2.png" [class.color]="isComplete" [disabled]="!isComplete"/>
				</a>
				<p>Event Display</p>
			</mat-card>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 " style="text-align: center">
			<mat-card>
				<a routerLink="d0-exercise">
				    <input type="image" class='gray' src="assets/ex1.png" [class.color]="isComplete" [disabled]="!isComplete"/>
				</a>
				<p>D0 Lifetime</p>
			</mat-card>	
		</div>
	</div>
</div>
